<div class="container">
    <div class="col s12 m7">
        <h2 class="header">Reforestando a Ciuda Quesada </h2>
        <div class="card horizontal">
            <div class="card-image">
                <img src="/src/assets/Img/pro.jpg">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p>Proyecto Reforestando a iuda Quesada es una ..............</p>
                </div>
                <div class="card-action">
                    <button class="waves-effect waves-light btn modal-trigger" href="#infoContacto">Modal</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="col s12 m7">
        <h2 class="header">Reforestando a Florencia </h2>
        <div class="card horizontal">
            <div class="card-image">
                <img src="/src/assets/Img/pro.jpg">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p>Proyecto Reforestando a Florencia es una ..............</p>
                </div>
                <div class="card-action">
                    <button class="waves-effect waves-light btn modal-trigger" href="#infoC">Modal</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="col s12 m7">
        <h2 class="header">Reforestando Venecia </h2>
        <div class="card horizontal">
            <div class="card-image">
                <img src="/src/assets/Img/pro.jpg">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p>Proyecto Reforestando Venecia es una ..............</p>
                </div>
                <div class="card-action">
                    <button class="waves-effect waves-light btn modal-trigger" href="#inf">Modal</button>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Modal Structure -->
<div id="infoContacto" class="modal modal-fixed-footer">
    <div class="modal-content">
        <iframe
            src="https://docs.google.com/forms/d/e/1FAIpQLSdl3uN2ltu3WoiAOUJz3RIF7r-gpQxc9A4aOiNwzTtPCRaRRg/viewform?embedded=true"
            width="700" height="520" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>
    </div>
</div>

<!-- Modal Structure -->
<div id="infoC" class="modal modal-fixed-footer">
    <div class="modal-content">
        <iframe
            src="https://docs.google.com/forms/d/e/1FAIpQLSeJYqKs73DZejk5RHXWhJjCfSkNvt-MCEqp95hV5sn_GU39dA/viewform?embedded=true"
            width="700" height="520" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>
    </div>
</div>

<!-- Modal Structure -->
<div id="inf" class="modal modal-fixed-footer">
    <div class="modal-content">
        <iframe
            src="https://docs.google.com/forms/d/e/1FAIpQLSdEJXmvWJWdIJUJlFehvW3HkfPZJYJJ6ekRTLMkSC1lUNABEw/viewform?embedded=true"
            width="700" height="520" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>
    </div>
</div>