  
 body  { 
   background-image: url("../Img/background-blanco-degradado-12.jpg");  
   background-repeat: no-repeat;
   width: 100%;
   background-attachment: fixed;
}
nav img{
  height: 100% !important;
} 
#imgLogo{
  display:block;
  margin:auto;
  margin-top: 55px;
}
#imgabuela, #imgaFerr, #imgalau{
  width: 100px;
  text-align: center;
}
#imgabuela p,#imgaFerr p,#imgalau p {
  margin-top: 0;
  font-size: 20px;
}
#imgabuela img,#imgaFerr img, #imgalau img{
  height: 100px;
  width: 100px;
  border-radius: 100%;
  overflow: hidden;
}
#imgCard{
  width: 350px; 
  height: 350px;
}
._2p3a{
  width: 480px !important;
}
.uiScaledImageContainer _2zfr{
  width: 480px !important;
}
#videocard{
width: 350px; 
height: 463px ;
}
.video-container{
  position: relative;
  padding-bottom: 56.25%;
  height: 355px;
  overflow: hidden;
}
#videoImportante{
  width:100%;
  max-width:600px;
  }
 #videoImportante{
  width:100%;
  }
  #iframePrincipal{
      width: 212%;
      margin-left: -346px;
      height: 497px;
      margin-top: 46px;
    } 

#todoVideo{
  margin-left: 3%;
}

.collaboratorPic {
  display:block; 
  margin: 0px 50%;
}

.collaboratorText {
  text-align: center;
}
#secccionMpa{
  margin-top: 72px;
}