<!-- Slider de imagenes -->

<div class="row">
  <div class="slider">
    <ul class="slides">
      <li>
        <img src="/src/assets/Img/1.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>Por un mundo..</h3>
          <h5 class="light grey-text text-lighten-3"></h5>
        </div>
      </li>
      <li>
        <img src="/src/assets/Img/2.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h3>Donde lo verde..</h3>
          <h5 class="light grey-text text-lighten-3"></h5>
        </div>
      </li>
      <li>
        <img src="/src/assets/Img/13.jpg"> <!-- random image -->
        <div class="caption right-align">
          <h3>Predomine..</h3>
          <h5 class="light grey-text text-lighten-3"></h5>
        </div>
      </li>
      <li>
        <img src="/src/assets/Img/4.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>Todos unidos se puede.!</h3>
          <h5 class="light grey-text text-lighten-3"></h5>
        </div>
      </li>
    </ul>
  </div>
</div>

<br>
<H5 style="margin-left: 140px;">Sobre nosotros.</H5>
<div style="margin-left: 145px;" class="row">
  <div class="col s12 m4">
    <div style="width: 350px;" class="card">
      <div class="card-image">
        <img id="imgCard" src="/src/assets/Img/Abuel.jpg">
      </div>
      <div class="card-content">
        <p>Informacion sobre abuellita ...</p>
        <!-- Modal Trigger -->
        <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Leer</a>
        <!-- Modal Structure -->
        <div id="modal1" class="modal modal-fixed-footer">
          <div class="modal-content">
            <h4>Historia de abuelita</h4>
            <p>Historia</p>
          </div>
          <div class="modal-footer">
            <a class="modal-action modal-close waves-effect waves-green btn-flat ">Cerrar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  -->
  <div class="col s12 m4">
    <div style="width: 350px;" class="card">
      <div class="card-image">
        <img id="imgCard" src="/src/assets/Img/12.jpg">
      </div>
      <div class="card-content">
        <p>Historia ...</p>
        <!-- Modal Trigger -->
        <a class="waves-effect waves-light btn modal-trigger" href="#modal2">Leer</a>
        <!-- Modal Structure -->
        <div id="modal2" class="modal modal-fixed-footer">
          <div class="modal-content">
            <h4>Historia</h4>
            <p>Historia</p>
          </div>
          <div class="modal-footer">
            <a class="modal-action modal-close waves-effect waves-green btn-flat ">Cerrar</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--  -->
  <div class="col s12 m4">
    <div  id="videocard" class="card">
      <div class="card-image">
        <div class="video-container">
          <iframe
            src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2F100009569018829%2Fvideos%2F2158151011180512%2F&show_text=0&width=267"
            width="400px" height="476" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
            allowTransparency="true" allowFullScreen="true"></iframe> </div>
      </div>
      <div class="card-content">
        <p>Porque donar a nuestra causa ...</p>
      </div>
    </div>
  </div>
</div>