<!-- Slider de imagenes -->

<div class="row">
  <div class="slider">
    <ul class="slides">
      <li>
        <img src="/src/assets/Img/1.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>Por un mundo..</h3>
          <h5 class="light grey-text text-lighten-3"></h5>
        </div>
      </li>
      <li>
        <img src="/src/assets/Img/2.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h3>Donde lo verde..</h3>
          <h5 class="light grey-text text-lighten-3"></h5>
        </div>
      </li>
      <li>
        <img src="/src/assets/Img/13.jpg"> <!-- random image -->
        <div class="caption right-align">
          <h3>Predomine..</h3>
          <h5 class="light grey-text text-lighten-3"></h5>
        </div>
      </li>
      <li>
        <img src="/src/assets/Img/4.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>Todos unidos se puede.!</h3>
          <h5 class="light grey-text text-lighten-3"></h5>
        </div>
      </li>
    </ul>
  </div>
</div>

<br>
<H5 style="margin-left: 140px;">Sobre nosotros.</H5>
<div style="margin-left: 145px;" class="row">
  <div class="col s12 m4">
    <div style="width: 350px;" class="card">
      <div class="card-image">
        <img id="imgCard" src="/src/assets/Img/28.jpg">
      </div>
      <div class="card-content">
        <p>Informacion sobre abuellita.</p>
        <!-- Modal Trigger -->
        <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Leer</a>
        <!-- Modal Structure -->
        <div id="modal1" class="modal modal-fixed-footer">
          <div class="modal-content">
            <h4>Historia de abuelita</h4>
            <p>Doña Bertalia cuando tenía 79 años vio con mucha preocupación que muchos niños nacerán y no podrían
              conocer los animales, ya que mueren atropellados por buscar alimento o las personas los cazan, también,
              por la pérdida de muchos árboles por tala indiscriminada y se dió a la tarea de empezar a hacer un
              semillero en su casa para ir a sembrar a muchos lugares y hoy con sus casi 84 años ha sembrado más de 6000
              árboles en compañía de amigos y estudiantes de varias universidades, su gran sueño que el mundo entero
              tenga un mejor ambiente e incluir a los niños y adultos mayores a esta bella actividad.
            </p>
          </div>
          <div class="modal-footer">
            <a class="modal-action modal-close waves-effect waves-green btn-flat ">Cerrar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  -->
  <div class="col s12 m4">
    <div style="width: 350px;" class="card">
      <div class="card-image">
        <img id="imgCard" src="/src/assets/Img/12.jpg">
      </div>
      <div class="card-content">
        <p>Historia</p>
        <!-- Modal Trigger -->
        <a class="waves-effect waves-light btn modal-trigger" href="#modal2">Leer</a>
        <!-- Modal Structure -->
        <div id="modal2" class="modal modal-fixed-footer">
          <div class="modal-content">
            <h4>Historia</h4>
            <p>Fundación Abuela Ecológica cédula jurídica 3-006-772098 nació de la necesidad notoria y plausible de
              ayudar al medio ambiente ante la crisis que viene profundizándose y busca de manera inagotable el dejar
              alimento para la fauna, desde hace más de cuatro años la “Abuela” Bertalía González Villalobos de 83 años
              anda reforestando Zona Norte, está bella señora acompaño en un proyecto que visitó en Muelle de San
              Carlos, dirigido por el señor Manuel Rodríguez de la Hora Ecológica, en la reforestación del Río San
              Carlos con varios miles de árboles, ahora la Abuela ha venido desarrollando de manera autogestionada y con
              recursos limitados un proceso de viverización y hace reforestaciones en compañía de equipos de trabajo del
              Programa de Desarrollo Ambiental y Cultura Forestal así como del Programa de Pasantes y Voluntariado
              Estudiantil del CITTED UNED bajo la coordinación de Jorge Hernández Ing Forestal y Elvis Cornejo ,
              Sociólogo y Máster en RH, asesores del proyecto con perspectiva de educación ambiental participativa,
              derechos humanos y cultura forestal y un grupo grande de voluntariado y colaboradores; aparte también hay
              otros grupos organizados que nos acompañan .. Muchas de las limitaciones de la Fundación en este momento
              es la falta de capital de trabajo para pagar servicios, pago de mano de obra, compra de insumos, espacio
              físico, transporte, operación e infraestructura. A la vez Abuela Ecológica busca la articulación
              InterInstituciones con UNED, MCJ, UTN, Municipalidad San Carlos y Centros Educativos.</p>
          </div>
          <div class="modal-footer">
            <a class="modal-action modal-close waves-effect waves-green btn-flat ">Cerrar</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--  -->
  <div class="col s12 m4">
    <div id="videocard" class="card">
      <div class="card-image">
        <div class="video-container">
          <iframe
            src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2F100009569018829%2Fvideos%2F2158151011180512%2F&show_text=0&width=267"
            width="400px" height="476" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
            allowTransparency="true" allowFullScreen="true"></iframe> </div>
      </div>
      <div class="card-content">
        <p>Porque donar a nuestra causa ...</p>
      </div>
    </div>
  </div>
</div>

<!-- Parallax -->
<div class="parallax-container">
  <div class="parallax"><img src="/src/assets/Img/11.jpg"></div>
</div>
<div class="section white">
  <div class="row container">
    <h2 class="header">Misión</h2>
    <p class="grey-text text-darken-3 lighten-3">Contribuir a la conservación y manejo sostenible de los recursos
      naturales y del medio ambiente dejando alimento a la fauna y un mejor lugar para las nuevas generaciones,
      participando en la ejecución y administración de proyectos estratégicos de desarrollo ambiental en el ámbito
      local, nacional e internacional.
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><img src="/src/assets/Img/16.jpg"></div>
</div>
<div class="section white">
  <div class="row container">
    <h2 class="header">Visión</h2>
    <p class="grey-text text-darken-3 lighten-3">Mantener el compromiso generacional de comunicación, iniciativas,
      medidas, estrategias, políticas, educación e investigación de lucha por la vida, en todas sus expresiones para
      entender y respetar la existencia del otro y ser copartícipes en aquellos emprendimientos y acciones que preservan
      la biodiversidad y sociodiversidad ecosistémica ambiental.

  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><img src="/src/assets/Img/infoo.jpg"></div>
</div>
<div class="section white">
  <div class="row container">
    <h2 class="header">Objetivos y Estrategias.</h2>
    <p class="grey-text text-darken-3 lighten-3">
      <ol>
        <li>Reorganización forestal.</li>
        <li>Crear alimento para la fauna.</li>
        <li>Generar actividades de impacto y éxito relacionadas con la conservación ambiental.</li>
        <li>Creación y mantenimiento de semilleros.</li>
        <li>Incrementar la aplicación de programas de ahorro energético.</li>
        <li>Implementar programas de Gestión de Calidad Ambiental.</li>
      </ol>
  </div>
</div>