
<!-- Nuevo comienzo de diseño grafico. -->
<div class="">
  <img id="imgLogo" class="responsive-img" src="/src/assets/Img/Icono-Recuperado.png">
</div>
<!-- Cuadro con la info -->
<div class="row">
  <div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="card-panel grey lighten-5 z-depth-1">
      <h6 class="black-text">
        Abuela Ecológica
        nació de la necesidad notoria y plausible de ayudar al medio ambiente ante la crisis que viene
        profundizándose y busca de manera
        inagotable el dejar alimento para la fauna, desde hace más de cuatro años la “Abuela” Bertalía González
        Villalobos de 83 años anda
        reforestando Zona Norte, está bella señora acompaño en un proyecto que visitó en Muelle de San Carlos,
        .........
      </h6>
    </div>
  </div>
</div>

<!-- iMAGEN DE LOS FUNDADORES -->
<h5 style="text-align: center">Fundadoras de la Fundación Abuela Ecológica.</h5>
<br><br>
<div class="row" style="margin-left: 162px;">
  <div class="col m10 offset-m3">
    <div class="col m2">
      <div id="imgalau">
        <img src="/src/assets/Img/Lau.jpg" alt="Contact Person">
        <p>Laura.</p>
      </div>
    </div>
    <div class="col m2">
      <div id="imgabuela">
        <img src="/src/assets/Img/28.jpg" alt="Contact Person">
        <p>Abuela.</p>
      </div>
    </div>
  </div>
  <br><br>
  <div class="col m12 offset-m3">
    <iframe
      src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FfundacionAbuelaEcologica&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=1678567369114169"
      width="450px" height="450px" style="border: none;overflow:hidden" scrolling="no" frameborder="0"
      allowTransparency="true" allow="encrypted-media"></iframe>
  </div>
  <style>
    #u_0_4 {
      max-height: 369px;
      border-bottom-width: 0.989583px;
      width: 470px;
    }
    #u_0_1 {
      height: 130px;
      width: 473px;
    }
    .uiScaledImageContainer _2zfr {
      width: 472px;
      height: 175px;
    }
  </style>

