<!-- Nuevo comienzo de diseño grafico. -->
<div class="">
  <img id="imgLogo" class="responsive-img" src="/src/assets/Img/Icono-Recuperado.png">
</div>
<!-- Cuadro con la info -->
<div class="row">
  <div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="card-panel grey lighten-5 z-depth-1">
      <h6 class="black-text">
        Abuela Ecológica
        nació de la necesidad notoria y plausible de ayudar al medio ambiente ante la crisis que viene
        profundizándose y busca de manera
        inagotable el dejar alimento para la fauna, desde hace más de cuatro años la “Abuela” Bertalía González
        Villalobos de 83 años anda
        reforestando Zona Norte, está bella señora acompaño en un proyecto que visitó en Muelle de San Carlos.
      </h6>
    </div>
  </div>
</div>

<!-- iMAGEN DE LOS FUNDADORES -->


<section id="seccionFundadores">

  <h5 style="text-align: center">Fundadoras de la Fundación Abuela Ecológica.</h5>
  <br><br>
  <div class="row" style="margin-left: 162px;">
    <div class="col m10">
      <div class="col m3">
        <div id="imgalau">
          <img src="/src/assets/Img/Jorge.jpeg" alt="Contact Person" class="collaboratorPic">
        </div>
        <p class="collaboratorText">Jorge Hernández López.<br /> Ing.Forestal Dir.Administrativo . </p>
      </div>
      <div class="col m3">
        <div id="imgalau">
          <img src="/src/assets/Img/Lau.jpg" alt="Contact Person" class="collaboratorPic">
        </div>
        <p class="collaboratorText">Laura Alfaro González.<br /> Directora Administrativa. </p>
      </div>
      <div class="col m3">
        <div id="imgalau">
          <img src="/src/assets/Img/Fer.jpg" alt="Contact Person" class="collaboratorPic">
        </div>
        <p class="collaboratorText">María Fernanda Murillo Alfaro.<br />Directora Administrativa. </p>
      </div>
      <div class="col m3">
        <div id="imgabuela">
          <img src="/src/assets/Img/Jose.jpg" alt="Contact Person" class="collaboratorPic">
        </div>
        <p class="collaboratorText">Jose Herrera. <br />Comunity Manager.</p>
      </div>
    </div>
  </div>

</section>
<br><br>
<section>
  <div class="row">
    <div class="col m3">
      <iframe
        src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FfundacionAbuelaEcologica&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=1678567369114169"
        width="450px" height="450px" style="border: none;overflow:hidden" scrolling="no" frameborder="0"
        allowTransparency="true" allow="encrypted-media"></iframe>
    </div>
    <div class="col m9">
      <div class="carousel">
        <a class="carousel-item" href="#one!"><img src="/src/assets/Img/info.jpg"></a>
        <a class="carousel-item" href="#two!"><img src="/src/assets/Img/info2.jpg"></a>
        <a class="carousel-item" href="#three!"><img src="/src/assets/Img/info3.jpg"></a>
        <a class="carousel-item" href="#four!"><img src="/src/assets/Img/info4.jpg"></a>
      </div>
    </div>
  </div>
</section>
<!--  -->
<section id="secccionMpa">
  <h2>Ubicación</h2>

  <div class="row">
    <div class="col m4">
      <p>La fundación se encuentra localizada en Ciudad Quesada, Barrio San Pablo 25 oeste del super la rosita.</p>
    </div>
    <div class="col m6 offset-m2">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3397.2134234155264!2d-84.42795273280821!3d10.34350664571863!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa06548d2f8507f%3A0xd9b5c56b3ec2c02a!2sFundaci%C3%B3n+Abuela+Ecol%C3%B3gica!5e0!3m2!1ses-419!2scr!4v1556653995083!5m2!1ses-419!2scr"
        width="400" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>

    </div>
  </div>
</section>









<style>
  #u_0_4 {
    max-height: 369px;
    border-bottom-width: 0.989583px;
    width: 470px;
  }

  #u_0_1 {
    height: 130px;
    width: 473px;
  }

  .uiScaledImageContainer _2zfr {
    width: 472px;
    height: 175px;
  }
</style>